[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "benchmark/nativejson-benchmark"]
	path = benchmark/nativejson-benchmark
	url = https://github.com/miloyip/nativejson-benchmark.git
